button,
input[type="radio"] {
    cursor: pointer;
}

input[type="text"] {
    cursor: text;
}




/* table compatibility */

table {
    display: table;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

caption {
    display: table-caption;
}

