.row-container > *,
.row {
    flex-direction: row;
}

.row-container {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-content: center;
}
