/* Reset to basic flex style */

* {
    display: flex;
    flex-direction: column;

    font-size: inherit;
    font-weight: inherit;
    box-sizing: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    overflow-wrap: inherit;
    cursor: inherit;

    /* these are questionable */
    flex-wrap: inherit;
    max-width: inherit;
    max-height: inherit;
    box-shadow: inherit;

    outline: 0;
    margin: 0;
    border: 0 solid black;
    padding: 0;
    gap: 0;
    appearance: none; /* remove input element styling */
}

:root {
    box-sizing: border-box;
    box-shadow: 0 0 0 black;
    outline: 0 solid black;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    overflow-wrap: anywhere;
    cursor: default;
}

head,
meta,
link,
script,
template
{
    display: none;
}
