.quiet {
    padding: 0;
    gap: 0;
    outline: 0;
}

.cards {
    gap: 0;
}

body {
    outline: 1px solid gray;
}

#table-and-info {
    justify-content: space-between;
}

#table-east .cards,
#table-west .cards
{
    flex-direction: column;
}

.suit-♦,
.suit-♥
{
    color: red;
}

.card {
    font-family: monospace;
}

#table-center {
    flex-grow: 1;
}

#table-north > span,
#table-east > span,
#table-west > span,
#table-south > span
{
    text-align: center;
}
