* {
    font-weight: bold;
    font-family: sans-serif;
}

:root {
    --bg-color: hsla(45, 100%, 80%, 1);
    --hand-bg-color: hsla(75, 100%, 90%, 1);
    --panel-bg-color: hsla(45, 100%, 90%, 1);
    --button-color: hsla(210, 100%, 95%, 1);
    --header-color: hsla(240, 100%, 98%, 1);
    --card-color: hsla(60, 100%, 95%, 1);
}

html {
    background-color: var(--bg-color);
}

#table-north,
#table-east,
#table-west,
#table-south
{
    background-color: var(--hand-bg-color);
}

#auction-call-panel,
#auction-call-buttons,
#infobar
{
    background-color: var(--panel-bg-color);
}

#infobar > div {
    background-color: var(--card-color);
}

h1 {
    background-color: var(--header-color);
}

#table .card {
    background-color: var(--card-color);
}


html * {
    padding: 0.5rem;
    gap: 0.5rem;
}

#table-north,
#table-east,
#table-west,
#table-south,
#auction-call-panel,
#auction-call-buttons,
#infobar
{
    box-shadow: 0.5em 0.5em 0.5rem hsla(45, 100%, 0%, 0.3),
                0.5em -0.5em 0.5rem hsla(45, 100%, 0%, 0.1),
                -0.5em 0.5em 0.5rem hsla(45, 100%, 0%, 0.1),
                inset 0 0 1rem hsla(45, 75%, 50%, 0.3);
}

body * {
    outline: 1px solid lightgray;
    box-shadow: 0 0 0.5rem hsla(45, 75%, 50%, 0.3),
                inset 0 0 1rem hsla(45, 75%, 50%, 0.3);
}

input[type = "radio"]:not(:checked),
input[type = "radio"] ~ span {
    outline: 0;
    box-shadow: 0 0;
}

.quiet {
    padding: 0;
    outline: 0;
    box-shadow: 0 0;
}

.cards {
/*    gap: 4px;*/
}

#table-and-info {
    justify-content: space-between;
}

#table > * {
    width: 100%;
}

#table-east .hand,
#table-west .hand,
#table-east .cards,
#table-west .cards
{
    flex-direction: column;
}

.suit-♦,
.suit-♥
{
    color: red;
}

.card {
    font-family: monospace;
}

.card .rank {
    min-width: 2ch;
    text-align: right;
}

#table-center {
    flex-grow: 100;
}

#table-north,
#table-east,
#table-west,
#table-south
{
    flex-grow: 1;
    min-width: 6em;
}

#table-east .hard {
    
}

h1
{
    text-align: center;
}

#infobar {
    flex-grow: 1;
}

#table-center {
    justify-content: center;
    align-content: center;
}

#auction-call-panel {
    width: max-content;
}

button {
    background-color: var(--button-color);
}

label.radio {
    cursor: pointer;
    background-color: var(--button-color);
}

input[type="radio"]:checked {
    background-color: var(--bg-color);
}

/* https://cssgradient.io/blog/gradient-patterns/ */
/* checkerboard */
html {
    --c1: #55b;
    --c2: #b99;
    --sz: 4px;
    --hsz: calc(var(--sz) / 2);
    --nhsz: calc(0px - var(--hsz));
    background-color: var(--c1);
    background-image:
        linear-gradient(45deg, var(--c2) 25%, transparent 25%),
        linear-gradient(-45deg, var(--c2) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--c2) 75%),
        linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--sz) var(--sz);
    background-position: 0 0, 0 var(--hsz), var(--hsz) var(--nhsz), var(--nhsz) 0px;
}

body {
    background-color: transparent;
}
