.quiet {
    padding: 0;
    gap: 0;
    outline: 0;
}

.noborder {
    padding: 0;
    outline: 0;
}

.cards {
    gap: 0;
}

body * {
    outline: 1px solid gray;
}

#table-and-info {
    justify-content: space-between;
}

#table > * {
    width: 100%;
}

#table-east .hand,
#table-west .hand,
#table-east .cards,
#table-west .cards
{
    flex-direction: column;
}

.suit-♦,
.suit-♥
{
    color: red;
}

.card {
    font-family: monospace;
}

.card .rank {
    min-width: 2ch;
    text-align: right;
}

#table-center {
    flex-grow: 100;
}

#table-north,
#table-east,
#table-west,
#table-south
{
    flex-grow: 1;
    min-width: 6em;
}

#table-east .hard {
    
}

h1
{
    text-align: center;
}

#infobar {
    flex-grow: 1;
}
